@tailwind base;

:root {
  --primary-color: #5945e4;
}

body {
  @apply text-gray-700;
  @apply antialiased;
}

.highlight-line {
  background-color: rgba(201, 167, 255, 0.2);
  margin: 0 -10px;
  padding: 0 5px;
  border-left: 5px solid #c9a7ff;
}

.strike {
  position: relative;
  display: inline-block;
}
.strike::before {
  content: '';
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  right: 0;
  top: 63%;
}

@tailwind components;
@tailwind utilities;
