@tailwind base;

:root {
  --primary-color: #5945e4;
  --animatedUnderlineHeight: 1rem;
  --animatedUnderlineBgColor: #ff7eb2;
}

::-moz-selection {
  @apply text-gray-800;
  @apply bg-indigo-200;
}

::selection {
  @apply text-gray-800;
  @apply bg-indigo-200;
}

body {
  @apply text-gray-800;
  @apply antialiased;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection {
  @apply text-white;
  text-shadow: 0 0 0 var(--primary-color),
    0.0025em 0.0025em 0 var(--primary-color),
    0.005em 0.005em 0 var(--primary-color),
    0.0075em 0.0075em 0 var(--primary-color),
    0.01em 0.01em 0 var(--primary-color),
    0.0125em 0.0125em 0 var(--primary-color),
    0.015em 0.015em 0 var(--primary-color),
    0.0175em 0.0175em 0 var(--primary-color),
    0.02em 0.02em 0 var(--primary-color),
    0.0225em 0.0225em 0 var(--primary-color),
    0.025em 0.025em 0 var(--primary-color),
    0.0275em 0.0275em 0 var(--primary-color),
    0.03em 0.03em 0 var(--primary-color),
    0.0325em 0.0325em 0 var(--primary-color),
    0.035em 0.035em 0 var(--primary-color),
    0.0375em 0.0375em 0 var(--primary-color),
    0.04em 0.04em 0 var(--primary-color),
    0.0425em 0.0425em 0 var(--primary-color),
    0.045em 0.045em 0 var(--primary-color),
    0.0475em 0.0475em 0 var(--primary-color),
    0.05em 0.05em 0 var(--primary-color),
    0.0525em 0.0525em 0 var(--primary-color),
    0.055em 0.055em 0 var(--primary-color),
    0.0575em 0.0575em 0 var(--primary-color),
    0.06em 0.06em 0 var(--primary-color),
    0.0625em 0.0625em 0 var(--primary-color),
    0.065em 0.065em 0 var(--primary-color),
    0.0675em 0.0675em 0 var(--primary-color),
    0.07em 0.07em 0 var(--primary-color),
    0.0725em 0.0725em 0 var(--primary-color),
    0.075em 0.075em 0 var(--primary-color),
    0.0775em 0.0775em 0 var(--primary-color),
    0.08em 0.08em 0 var(--primary-color),
    0.0825em 0.0825em 0 var(--primary-color),
    0.085em 0.085em 0 var(--primary-color),
    0.0875em 0.0875em 0 var(--primary-color),
    0.09em 0.09em 0 var(--primary-color),
    0.0925em 0.0925em 0 var(--primary-color),
    0.095em 0.095em 0 var(--primary-color),
    0.0975em 0.0975em 0 var(--primary-color), 0.1em 0.1em 0 var(--primary-color);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  @apply text-white;
  text-shadow: 0 0 0 var(--primary-color),
    0.0025em 0.0025em 0 var(--primary-color),
    0.005em 0.005em 0 var(--primary-color),
    0.0075em 0.0075em 0 var(--primary-color),
    0.01em 0.01em 0 var(--primary-color),
    0.0125em 0.0125em 0 var(--primary-color),
    0.015em 0.015em 0 var(--primary-color),
    0.0175em 0.0175em 0 var(--primary-color),
    0.02em 0.02em 0 var(--primary-color),
    0.0225em 0.0225em 0 var(--primary-color),
    0.025em 0.025em 0 var(--primary-color),
    0.0275em 0.0275em 0 var(--primary-color),
    0.03em 0.03em 0 var(--primary-color),
    0.0325em 0.0325em 0 var(--primary-color),
    0.035em 0.035em 0 var(--primary-color),
    0.0375em 0.0375em 0 var(--primary-color),
    0.04em 0.04em 0 var(--primary-color),
    0.0425em 0.0425em 0 var(--primary-color),
    0.045em 0.045em 0 var(--primary-color),
    0.0475em 0.0475em 0 var(--primary-color),
    0.05em 0.05em 0 var(--primary-color),
    0.0525em 0.0525em 0 var(--primary-color),
    0.055em 0.055em 0 var(--primary-color),
    0.0575em 0.0575em 0 var(--primary-color),
    0.06em 0.06em 0 var(--primary-color),
    0.0625em 0.0625em 0 var(--primary-color),
    0.065em 0.065em 0 var(--primary-color),
    0.0675em 0.0675em 0 var(--primary-color),
    0.07em 0.07em 0 var(--primary-color),
    0.0725em 0.0725em 0 var(--primary-color),
    0.075em 0.075em 0 var(--primary-color),
    0.0775em 0.0775em 0 var(--primary-color),
    0.08em 0.08em 0 var(--primary-color),
    0.0825em 0.0825em 0 var(--primary-color),
    0.085em 0.085em 0 var(--primary-color),
    0.0875em 0.0875em 0 var(--primary-color),
    0.09em 0.09em 0 var(--primary-color),
    0.0925em 0.0925em 0 var(--primary-color),
    0.095em 0.095em 0 var(--primary-color),
    0.0975em 0.0975em 0 var(--primary-color), 0.1em 0.1em 0 var(--primary-color);
}

.highlight-line {
  background-color: rgba(201, 167, 255, 0.2);
  margin: 0 -10px;
  padding: 0 5px;
  border-left: 5px solid #c9a7ff;
}

.strike {
  position: relative;
  display: inline-block;
}

.strike::before {
  content: '';
  border-bottom: 1px solid black;
  width: 100%;
  position: absolute;
  right: 0;
  top: 63%;
}

.wrap p a {
  position: relative;
  text-decoration: none;
  @apply text-indigo-600;
  @apply font-medium;
}
.wrap p a::after {
  content: '';
  @apply bg-indigo-200;
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.wrap p a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

.animated-underline {
  --uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
  --uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 2px);
  --uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
  --uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, left);
  --uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);

  /*
		1. For multi-line animated underline the "inline" value for the display property is compulsory.
		2. Adds opportunity to create multi-line padding
	*/

  --rLinkDisplay: inline; /* 1 */

  background-image: linear-gradient(
    0,
    var(--uiAnimatedUnderlineBgColor) 0,
    var(--uiAnimatedUnderlineBgColor)
  );
  background-size: var(--uiAnimatedUnderlineWidth)
    var(--uiAnimatedUnderlineHeight);
  background-position: var(--uiAnimatedUnderlinePositionX)
    var(--uiAnimatedUnderlinePositionY);
  background-repeat: no-repeat;

  -webkit-box-decoration-break: clone; /* 2 */
  box-decoration-break: clone; /* 2 */

  will-change: background-size;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --animatedUnderlineHeight: 0;
}

.animated-underline:hover {
  --animatedUnderlineHeight: 100%;
}

.gatsby-highlight {
  -webkit-overflow-scrolling: touch;
}

.gatsby-highlight pre[class*='language-'] {
  -webkit-overflow-scrolling: touch;
  @apply rounded;
}
.gatsby-highlight pre[class*='language-']::before {
  @apply rounded;
  @apply text-gray-800;
  @apply bg-yellow-500;
  @apply text-xs;
  @apply tracking-wide;
  @apply px-2;
  @apply py-0.5;
  @apply absolute;
  @apply right-4;
  @apply text-right;
  @apply uppercase;
  @apply top-3;
}

@tailwind components;
@tailwind utilities;
